  <!-- <app-header></app-header> -->

  <!-- Content -->
  <div *ngIf="playerInfo" class="ritekhed-main-content">

    <!-- Main Section -->
    <div class="ritekhed-main-section ritekhed-player-thumb">
        <span class="thumb-transparent"></span>

        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="ritekhed-player-thumb-wrap">
                        <figure><img src='{{baseUrl}}/{{playerInfo.photo}}' alt=""></figure>
                        <div class="ritekhed-player-thumb-text">
                            <h2>{{playerInfo.id}}</h2>
                            <h3>{{playerInfo.name}}</h3>
                            <ul class="ritekhed-player-info">
                                <li>
                                    <h5>Nationality:</h5>
                                    <span>{{playerInfo.country}}</span>
                                </li>
                                <li>
                                    <h5>Date Of Birth:</h5>
                                    <span>{{playerInfo.dob | date:'short'}}</span>
                                </li>
                                <li>
                                    <h5>Points Per Game:</h5>
                                    <span>17.25 Avg</span>
                                </li>
                                <li>
                                    <h5>Playing For:</h5>
                                    <span>{{playerInfo.country}}</span>
                                </li>
                                <li>
                                    <h5>Height:</h5>
                                    <span>{{playerInfo.height}} CM</span>
                                </li>
                                <li>
                                    <h5>Dominating Legs:</h5>
                                    <span>{{playerInfo.dominante_legs}}</span>
                                </li>
                                <li>
                                    <h5>Position:</h5>
                                    <span>Left Back</span>
                                </li>
                                <li>
                                    <h5>Weight:</h5>
                                    <span>{{playerInfo.weight}} Kg</span>
                                </li>
                                <li>
                                    <h5>Age:</h5>
                                    <span>{{playerInfo.age}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Main Section -->

    <!-- Main Section -->
    <div class="ritekhed-main-section">
        <div class="container">
            <div class="row">

                <!-- Content -->
                <div class="col-md-8">

                    <div class="ritekhed-rich-editor">
                            <div class="ritekhed-widget-heading"><h2>Promo Videos</h2></div>  
                        <iframe width="420" height="345" [src]="getIframeUrl(playerInfo.promo_video)">
                        </iframe>
                    </div>
                    <div class="clearfix"></div>
                     <!-- Last Game Log -->
                     <div class="card card--has-table">
                            <div class="card__header card__header--has-btn">
                                <h4>League</h4>
                                <!--<a href="_soccer_player-stats.html" class="btn btn-default btn-outline btn-xs card-header__button">See complete games log</a>-->
                            </div>
                            <div class="card__content">
                                <div class="table-responsive">
                                    <table class="table table-hover game-player-result">
                                        <thead>
                                            <tr>
                                                <th class="game-player-result__date">Season</th>
                                                <th class="game-player-result__vs">Team</th>
                                                <th class="game-player-result__date">Country</th>
                                                <th class="game-player-result__score">Category</th>
                                                <th class="game-player-result__played">Matches</th>
                                                <th class="game-player-result__tg">Goals</th>
                                                <th class="game-player-result__ts">Assists</th>
                                                <th class="game-player-result__min">Yellow Cards</th>
                                                <th class="game-player-result__min">Red Cards</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="game-player-result__date">2019</td>
                                                <td class="game-player-result__vs">Ngongotaha AFC</td>
                                                <td class="game-player-result__score">New Zealand</td>
                                                    <td class="game-player-result__played">Regional league</td>
                                                    <td class="game-player-result__min">9</td>
                                                    <td class="game-player-result__tg">1</td>
                                                    <td class="game-player-result__ts">0</td>
                                                    <td class="game-player-result__ts">0</td>
                                                    <td class="game-player-result__ts">0</td>
                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>



                     <div class="card card--has-table">
                            <div class="card__header card__header--has-btn">
                                <h4>LATEST MATCH</h4>
                                <!--<a href="_soccer_player-stats.html" class="btn btn-default btn-outline btn-xs card-header__button">See complete games log</a>-->
                            </div>
                            <div class="card__content">
                                <div class="table-responsive">
                                    <table class="table table-hover game-player-result">
                                        <thead>
                                            <tr>
                                                <th class="game-player-result__date">Date</th>
                                                <th class="game-player-result__vs">Versus</th>
                                                <th class="game-player-result__score">Score</th>
                                                <th class="game-player-result__played">Played</th>
                                                <th class="game-player-result__min">Playing Time</th>
                                                <th class="game-player-result__tg">Goals</th>
                                                <th class="game-player-result__ts">Assists</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="game-player-result__date">Jan 1, 2019</td>
                                                <td class="game-player-result__vs">
                                                    <div class="team-meta">
                                                        <figure class="team-meta__logo">
                                                            <img src="/assets/images/sharks_shield.png" alt="">
                                                        </figure>
                                                        <div class="team-meta__info">
                                                            <h6 class="team-meta__name">Sharks</h6>
                                                            <span class="team-meta__place">Marine College</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="game-player-result__score">
                                                    <span class="game-player-result__game">W</span> 2-0</td>
                                                    <td class="game-player-result__played">Off-team</td>
                                                    <td class="game-player-result__min">56</td>
                                                    <td class="game-player-result__tg">1</td>
                                                    <td class="game-player-result__ts">12</td>
                                                </tr>
                                                <tr>
                                                    <td class="game-player-result__date">Jan 1, 2019</td>
                                                    <td class="game-player-result__vs">
                                                        <div class="team-meta">
                                                            <figure class="team-meta__logo">
                                                                <img src="/assets/images/pirates_shield.png" alt="">
                                                            </figure>
                                                            <div class="team-meta__info">
                                                                <h6 class="team-meta__name">L.A. Pirates</h6>
                                                                <span class="team-meta__place">Bebop Institute</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="game-player-result__score">
                                                        <span class="game-player-result__game">L</span> 4-2</td>
                                                        <td class="game-player-result__played">Off-team</td>
                                                        <td class="game-player-result__min">42</td>
                                                        <td class="game-player-result__tg">0</td>
                                                        <td class="game-player-result__ts">14</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="game-player-result__date">May 25, 2019</td>
                                                        <td class="game-player-result__vs">
                                                            <div class="team-meta">
                                                                <figure class="team-meta__logo">
                                                                    <img src="/assets/images/lucky_clovers_shield.png" alt="">
                                                                </figure>
                                                                <div class="team-meta__info">
                                                                    <h6 class="team-meta__name">Lucky Clovers</h6>
                                                                    <span class="team-meta__place">St. Patrick’s Institute</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="game-player-result__score">
                                                            <span class="game-player-result__game">D</span> 0-0</td>
                                                            <td class="game-player-result__played">Starter</td>
                                                            <td class="game-player-result__min">47</td>
                                                            <td class="game-player-result__tg">2</td>
                                                            <td class="game-player-result__ts">22</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="game-player-result__date">May 18, 2019</td>
                                                            <td class="game-player-result__vs">
                                                                <div class="team-meta">
                                                                    <figure class="team-meta__logo">
                                                                        <img src="/assets/images/ocean_kings_shield.png" alt="">
                                                                    </figure>
                                                                    <div class="team-meta__info">
                                                                        <h6 class="team-meta__name">Ocean Kings</h6>
                                                                        <span class="team-meta__place">Bay College</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="game-player-result__score">
                                                                <span class="game-player-result__game">W</span> 2-3</td>
                                                                <td class="game-player-result__played">Off-team</td>
                                                                <td class="game-player-result__min">69</td>
                                                                <td class="game-player-result__tg">0</td>
                                                                <td class="game-player-result__ts">18</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="game-player-result__date">May 15, 2019</td>
                                                                <td class="game-player-result__vs">
                                                                    <div class="team-meta">
                                                                        <figure class="team-meta__logo">
                                                                            <img src="/assets/images/red_wings_shield.png" alt="">
                                                                        </figure>
                                                                        <div class="team-meta__info">
                                                                            <h6 class="team-meta__name">Red Wings</h6>
                                                                            <span class="team-meta__place">Icarus College</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="game-player-result__score">
                                                                    <span class="game-player-result__game">W</span> 2-1</td>
                                                                    <td class="game-player-result__played">Starter</td>
                                                                    <td class="game-player-result__min">73</td>
                                                                    <td class="game-player-result__tg">1</td>
                                                                    <td class="game-player-result__ts">13</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Last Game Log / End -->
                    
                </div>
                <!-- Content -->

                <!-- SideBaar -->
                <aside class="col-md-4">

                    <!-- Widget PapularPost -->
                    <div class="widget widget_popular_post">
                        <div class="ritekhed-widget-heading"><h2>Popular Posts</h2></div>
                        <ul>
                            <li>
                                <div class="ritekhed-popular-post">
                                    <figure><a href="#"><img src="assets/images/widget-gallery-7.jpg" alt=""></a></figure>
                                    <div class="ritekhed-popular-post-text">
                                        <h5><a href="#">Mark Johnson has as acture and is</a></h5>
                                        <time datetime="2008-02-14 20:00">August 23rd, 2016</time>
                                    </div>
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="ritekhed-popular-post">
                                    <figure><a href="#"><img src="assets/images/widget-gallery-3.jpg" alt=""></a></figure>
                                    <div class="ritekhed-popular-post-text">
                                        <h5><a href="#">Mark Johnson has as acture and is</a></h5>
                                        <time datetime="2008-02-14 20:00">August 23rd, 2016</time>
                                    </div>
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="ritekhed-popular-post">
                                    <figure><a href="#"><img src="assets/images/widget-gallery-8.jpg" alt=""></a></figure>
                                    <div class="ritekhed-popular-post-text">
                                        <h5><a href="#">Mark Johnson has as acture and is</a></h5>
                                        <time datetime="2008-02-14 20:00">August 23rd, 2016</time>
                                    </div>
                                    <span></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Widget PapularPost -->

                    <!-- Widget Cetagories -->
                    <div class="widget widget_cetagories">
                        <div class="ritekhed-widget-heading"><h2>Categories</h2></div>
                        <ul>
                            <li><a href="#">Championship <span>( 13 )</span></a></li>
                            <li><a href="#">Worldcup <span>( 04 )</span></a></li>
                            <li><a href="#">Club <span>( 08 )</span></a></li>
                            <li><a href="#">Stadium <span>( 13 )</span></a></li>
                        </ul>
                    </div>
                    <!-- Widget Cetagories -->


                    <!-- Widget Gallery -->
                    <div class="widget widget_gallery">
                            <div class="ritekhed-widget-heading"><h2>Photos</h2></div>
                            <ul>
                                <li><a data-fancybox-group="group" href="javascript:void(0);" class="fancybox"><img src="assets/images/widget-gallery-1.jpg" alt=""><i class="fa fa-angle-double-right"></i></a></li>
                                <li><a data-fancybox-group="group" href="javascript:void(0);" class="fancybox"><img src="assets/images/widget-gallery-2.jpg" alt=""><i class="fa fa-angle-double-right"></i></a></li>
                                <li><a data-fancybox-group="group" href="javascript:void(0);" class="fancybox"><img src="assets/images/widget-gallery-3.jpg" alt=""><i class="fa fa-angle-double-right"></i></a></li>
                                <li><a data-fancybox-group="group" href="javascript:void(0);" class="fancybox"><img src="assets/images/widget-gallery-4.jpg" alt=""><i class="fa fa-angle-double-right"></i></a></li>
                                <li><a data-fancybox-group="group" href="javascript:void(0);" class="fancybox"><img src="assets/images/widget-gallery-5.jpg" alt=""><i class="fa fa-angle-double-right"></i></a></li>
                                <li><a data-fancybox-group="group" href="javascript:void(0);" class="fancybox"><img src="assets/images/widget-gallery-6.jpg" alt=""><i class="fa fa-angle-double-right"></i></a></li>
                                <li><a data-fancybox-group="group" href="javascript:void(0);" class="fancybox"><img src="assets/images/widget-gallery-7.jpg" alt=""><i class="fa fa-angle-double-right"></i></a></li>
                                <li><a data-fancybox-group="group" href="javascript:void(0);" class="fancybox"><img src="assets/images/widget-gallery-8.jpg" alt=""><i class="fa fa-angle-double-right"></i></a></li>
                                
                            </ul>
                        </div>
                        <!-- Widget Gallery -->


                    


                </aside>
                <!-- SideBaar -->

            </div>
        </div>
    </div>
    <!-- Main Section -->

</div>

<!-- Content -->

<app-loader *ngIf="fetchingData"></app-loader>
