  <!-- <app-header></app-header> -->

  <!-- Content -->
  <div *ngIf="playerInfo" class="ritekhed-main-content">

    <!-- Main Section -->
    <div class="ritekhed-main-section ritekhed-player-thumb">
        <span class="thumb-transparent"></span>

        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="ritekhed-player-thumb-wrap">
                        <figure><img src='{{baseUrl}}/{{playerInfo.photo}}' alt=""></figure>
                        <div class="ritekhed-player-thumb-text">
                            <h2>{{playerInfo.id}}</h2>
                            <h3>{{playerInfo.name}}</h3>
                            <ul class="ritekhed-player-info">
                                <li>
                                    <h5>Nationality:</h5>
                                    <span>{{playerInfo.country}}</span>
                                </li>
                                <li>
                                    <h5>Date Of Birth:</h5>
                                    <span>{{playerInfo.dob | date:'short'}}</span>
                                </li>
                                <li>
                                    <h5>Points Per Game:</h5>
                                    <span>17.25 Avg</span>
                                </li>
                                <li>
                                    <h5>Playing For:</h5>
                                    <span>{{playerInfo.country}}</span>
                                </li>
                                <li>
                                    <h5>Height:</h5>
                                    <span>{{playerInfo.height}} CM</span>
                                </li>
                                <li>
                                    <h5>Dominating Legs:</h5>
                                    <span>{{playerInfo.dominante_legs}}</span>
                                </li>
                                <li>
                                    <h5>Position:</h5>
                                    <span>Left Back</span>
                                </li>
                                <li>
                                    <h5>Weight:</h5>
                                    <span>{{playerInfo.weight}} Kg</span>
                                </li>
                                <li>
                                    <h5>Age:</h5>
                                    <span>{{playerInfo.age}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Main Section -->

    <!-- Main Section -->
    <div class="ritekhed-main-section">
        <div class="container">
            <div class="row">

                <!-- Content -->
                <div class="col-md-9">

                    <div class="ritekhed-rich-editor">
                        <h2>Player Description</h2>                
                 
                        <iframe width="420" height="345" [src]="getIframeUrl(playerInfo.promo_video)">
                        </iframe>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante. Curabitur lacinia diam tempus tempor consectet Sed vitae dignissim purus, eget aliquam libero. Duis et arcu a erat venenatis ornare eget nec urna. Nulla volutpat luctus venen Aliquam tellus dui, luctus nec ornare at, aliquet ac nulla. Quisque vitae feugiat eros. Pellentesque tempus tortor nec tellus elp ifend, id dictum nibh volutpat.</p>
                        <p>Sed gravida, urna quis tempus sollicitudin, tellus urna suscipit nisl, id rhoncus ligula elit condimentum odio. Suspendisse lacinia, risus et porta dignissim, elit tellus iaculis tellus, eget efficitur elit magna eu orci. Phasellus tempor consectetur magna, at efficiat est malesuada ac. Phasellus non ipsum diam. Suspendisse potenti.</p>
                        <blockquote>Sed gravida, urna quis tempus sollicitudin, tellus urna suscipit nisl, id rhoncus ligula elit condi Suspendisse lacinia, risus et porta dignissim, elit tellus iaculis tellus, eget efficitur elit magna ellus tempor consectetur magna.
                        <span></span>
                        </blockquote>
                        <p>Sed gravida, urna quis tempus sollicitudin, tellus urna suscipit nisl, id rhoncus ligula elit condimentum ti odio. Suspendisse lacinia risus et porta dignissim, elit tellus iaculis tellus, eget efficitur elit magna eu orci. Phasellus tempor consesactetur magna, at efficit est malesuada ac. Phasellus non ipsum diam. Suspendisse potenti.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="ritekhed-player-accuracy">
                                <h2>Player Accuracy</h2>
                                <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Ut ac males.</p>
                                <p>Sed gravida, urna quis tempus sollicitu din, tellus urna suscipit nisl, </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="ritekhed-player-skillbar">
                                <div class="skillst">
                                    <h6>Shoot Accuracy</h6>
                                    <span>68%</span>
                                    <div class="progressbar1" data-width="68" data-target="68"></div>
                                </div>
                                <div class="skillst">
                                    <h6>Pass Accuracy</h6>
                                    <span>85%</span>
                                    <div class="progressbar1" data-width="85" data-target="85"></div>
                                </div>
                                <div class="skillst">
                                    <h6>Total Accuracy</h6>
                                    <span>72%</span>
                                    <div class="progressbar1" data-width="72" data-target="72"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ritekhed-prenxt-post">
                        <ul>
                            <li>
                                <div class="ritekhed-prev-post">
                                    <figure><a href="#"><img src="assets/images/widget-gallery-7.jpg" alt=""></a></figure>
                                    <div class="ritekhed-prev-artical">
                                        <h3><a href="#">The team is starting a new power breakfast regimen</a></h3>
                                        <a href="#" class="ritekhed-post-arrow"><i class="fa fa-angle-double-left"></i> Previous Post</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ritekhed-next-post">
                                    <figure><a href="#"><img src="assets/images/widget-gallery-8.jpg" alt=""></a></figure>
                                    <div class="ritekhed-next-artical">
                                        <h3><a href="#">The team is starting a new power breakfast regimen</a></h3>
                                        <a href="#" class="ritekhed-post-arrow">Next Post <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <!-- Content -->

                <!-- SideBaar -->
                <aside class="col-md-3">
                    
                    <!-- Widget PapularPost -->
                    <div class="widget widget_popular_post">
                        <div class="ritekhed-widget-heading"><h2>Popular Posts</h2></div>
                        <ul>
                            <li>
                                <div class="ritekhed-popular-post">
                                    <figure><a href="#"><img src="assets/images/widget-gallery-1.jpg" alt=""></a></figure>
                                    <div class="ritekhed-popular-post-text">
                                        <h5><a href="#">Mark Johnson has as acture and is</a></h5>
                                        <time datetime="2008-02-14 20:00">August 23rd, 2016</time>
                                    </div>
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="ritekhed-popular-post">
                                    <figure><a href="#"><img src="assets/images/widget-gallery-7.jpg" alt=""></a></figure>
                                    <div class="ritekhed-popular-post-text">
                                        <h5><a href="#">Mark Johnson has as acture and is</a></h5>
                                        <time datetime="2008-02-14 20:00">August 23rd, 2016</time>
                                    </div>
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="ritekhed-popular-post">
                                    <figure><a href="#"><img src="assets/images/widget-gallery-3.jpg" alt=""></a></figure>
                                    <div class="ritekhed-popular-post-text">
                                        <h5><a href="#">Mark Johnson has as acture and is</a></h5>
                                        <time datetime="2008-02-14 20:00">August 23rd, 2016</time>
                                    </div>
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="ritekhed-popular-post">
                                    <figure><a href="#"><img src="assets/images/widget-gallery-8.jpg" alt=""></a></figure>
                                    <div class="ritekhed-popular-post-text">
                                        <h5><a href="#">Mark Johnson has as acture and is</a></h5>
                                        <time datetime="2008-02-14 20:00">August 23rd, 2016</time>
                                    </div>
                                    <span></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Widget PapularPost -->

                    <!-- Widget Cetagories -->
                    <div class="widget widget_cetagories">
                        <div class="ritekhed-widget-heading"><h2>Cetagories</h2></div>
                        <ul>
                            <li><a href="#">Championship <span>( 13 )</span></a></li>
                            <li><a href="#">Super Ball <span>( 12 )</span></a></li>
                            <li><a href="#">Worldcup <span>( 04 )</span></a></li>
                            <li><a href="#">Club <span>( 08 )</span></a></li>
                            <li><a href="#">Stadium <span>( 13 )</span></a></li>
                        </ul>
                    </div>
                    <!-- Widget Cetagories -->

                </aside>
                <!-- SideBaar -->

            </div>
        </div>
    </div>
    <!-- Main Section -->

</div>

<!-- Content -->

<app-loader *ngIf="fetchingData"></app-loader>