    <!-- LoginModal -->
    <div class="loginmodal modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="ritekhed-login-box">
                <a href="javascript:void(0);" data-dismiss="modal" class="ritekhed-login-close ritekhed-color"><i class="fa fa-times"></i></a>
                <h4>Login To Your Account</h4>
                <form>
                    <input type="text" value="Enter username*" onblur="if(this.value == '') { this.value ='Enter username*'; }" onfocus="if(this.value =='Enter username*') { this.value = ''; }">
                    <input type="password" value="Password*" onblur="if(this.value == '') { this.value ='Password*'; }" onfocus="if(this.value =='Password*') { this.value = ''; }">
                    <a href="javascript:void(0);" class="ritekhed-colorhover">Forget Password?</a>
                    <div class="clearfix"></div>
                    <label><input type="submit" value="Sign In" class="ritekhed-bordercolor ritekhed-color"></label>
                </form>
                <h4>Try Our Socials Also</h4>
                <ul class="login-network">
                    <li><a href="javascript:void(0);"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                    <li class="ritekhed-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                    <li class="ritekhed-google-plus"><a href="javascript:void(0);"><i class="fab fa-google-plus-square"></i> Google+</a></li>
                    <li class="ritekhed-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin"></i> linkedin</a></li>
                </ul>
                <p>Not A Member Yet ? <a href="javascript:void(0);" class="ritekhed-color">Sign - Up Now !</a></p>
            </div>
        <div class="clearfix"></div>
        </div>
    </div>
