        <!-- Header -->
        <div id="ritekhed-header" class="ritekhed-header-one">
            
            <!-- Top Strip -->
            <div class="ritekhed-top-strip ritekhed-bgcolor-two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="ritekhed-top-strip-social">
                                <li><a href="javascript:void(0);" class="fab fa-facebook-f"></a></li>
                                <li><a href="javascript:void(0);" class="fab fa-twitter"></a></li>
                                <li><a href="javascript:void(0);" class="fab fa-linkedin-in"></a></li>
                                <li><a href="javascript:void(0);" class="fab fa-google-plus-g"></a></li>
                                <li><a href="javascript:void(0);" class="fab fa-dribbble"></a></li>
                            </ul>
                            <ul class="ritekhed-user-section">
                                <li><i class="fa fa-globe"></i> <a href="javascript:void(0);">Support</a></li>
                                <li><i class="fab fa-opencart"></i> <a href="javascript:void(0);" class="ritekhed-open-cart">Cart (0)</a>
                                    <div class="ritekhed-cart-box">
                                        <h2>You have 2 items in the cart</h2>
                                        <ul>
                                            <li>
                                                <figure>
                                                    <a href="javascript:void(0);"><img src="extra-images/cartbox-1.png" alt=""></a>
                                                </figure>
                                                <div class="ritekhed-cartbox-text">
                                                    <h6><a href="javascript:void(0);">Key Management Model The 60+ Models</a></h6>
                                                    <div class="ritekhed-rating"><span class="ritekhed-rating-box eight-percent"></span></div>
                                                    <span class="ritekhed-cartbox-price ritekhed-color">$35.99 <small>$43.00</small></span>
                                                </div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <a href="javascript:void(0);"><img src="extra-images/cartbox-2.png" alt=""></a>
                                                </figure>
                                                <div class="ritekhed-cartbox-text">
                                                    <h6><a href="javascript:void(0);">Pyramid Principle: Logic Writing &amp; Thinking</a></h6>
                                                    <div class="ritekhed-rating"><span class="ritekhed-rating-box ten-percent"></span></div>
                                                    <span class="ritekhed-cartbox-price ritekhed-color">$21.00</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <h5>Subtotal <span class="ritekhed-color">$1343</span></h5>
                                        <div class="ritekhed-cart-link"><a href="javascript:void(0);" class="ritekhed-cartbox-btn ritekhed-bgcolorhover"><i class="flaticon-tool"></i> Go to Checkout</a></div>
                                    </div>
                                </li>
                                <li><i class="far fa-user"></i> <a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal">Login</a></li>
                                <li><i class="fa fa-sign-in-alt"></i> <a href="javascript:void(0);" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Strip -->

            <!-- Main Header -->
            <div class="ritekhed-main-header ritekhed-border-color">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="player-page.html" class="ritekhed-logo"> <img src="logo1.png" alt=""> </a>
                            <div class="ritekhed-right-head">
                                <span class="ritekhed-menu-link">
                                    <span class="menu-bar"></span>
                                    <span class="menu-bar"></span>
                                    <span class="menu-bar"></span>
                                </span>
                                <nav id="main-nav">
                                    <ul id="main-menu" class="sm sm-blue">
                                        <li class="active"><a href="index.html">Home</a></li>
                                        <li><a href="javascript:void(0);">Features</a>
                                            <ul>
                                                <li><a href="javascript:void(0);">Fixture All Matches</a></li>
                                                <li><a href="javascript:void(0);">Fixture List</a></li>
                                                <li><a href="javascript:void(0);">Fixture Detail</a></li>
                                                <li><a href="javascript:void(0);">Gallery Classic</a></li>
                                                <li><a href="javascript:void(0);">Gallery Simple</a></li>
                                                <li><a href="javascript:void(0);">404 Error Page</a></li>
                                                <li><a href="javascript:void(0);">Login Register</a></li>
                                                <li><a href="javascript:void(0);">Search Result</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0);">Players</a>
                                            <ul>
                                                <li><a href="javascript:void(0);">Player Grid</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0);">Player Grid W/O/S</a></li>
                                                        <li><a href="javascript:void(0);">Player Grid W/L/S</a></li>
                                                        <li><a href="javascript:void(0);">Player Grid W/R/S</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="javascript:void(0);">Player List</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0);">Player List W/O/S</a></li>
                                                        <li><a href="javascript:void(0);">Player List W/L/S</a></li>
                                                        <li><a href="javascript:void(0);">Player List W/R/S</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="javascript:void(0);">Player Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0);">Our News</a>
                                            <ul>
                                                <li><a href="javascript:void(0);">Blog Grid</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0);">Blog Grid W/O/S</a></li>
                                                        <li><a href="javascript:void(0);">Blog Grid W/L/S</a></li>
                                                        <li><a href="javascript:void(0);">Blog Grid W/R/S</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="javascript:void(0);">Blog Large</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0);">Blog Large W/O/S</a></li>
                                                        <li><a href="javascript:void(0);">Blog Large W/L/S</a></li>
                                                        <li><a href="javascript:void(0);">Blog Large W/R/S</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="javascript:void(0);">Blog Detail</a>
                                                    <ul>
                                                        <li><a href="javascript:void(0);">Blog Detail W/Thumb</a></li>
                                                        <li><a href="javascript:void(0);">Blog W/SounCloud</a></li>
                                                        <li><a href="javascript:void(0);">Blog Detail W/Video</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0);">Our Shop</a>
                                            <ul>
                                                <li><a href="javascript:void(0);">Shop Grid W/O/S</a></li>
                                                <li><a href="javascript:void(0);">Shop Grid W/L/S</a></li>
                                                <li><a href="javascript:void(0);">Shop Grid W/R/S</a></li>
                                                <li><a href="javascript:void(0);">Shop Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0);">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header -->

        </div>
        <!-- Header -->

        <!-- SubHeader -->
        <div class="ritekhed-subheader">
            <span class="ritekhed-banner-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Player List</h1>
                        <ul class="ritekhed-breadcrumb">
                            <li><a href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">Player</a></li>
                            <li>Player List</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- SubHeader -->