  <!-- Footer -->
  <footer id="ritekhed-footer" class="ritekhed-footer-one">
    <!-- Footer Widget -->
    <div class="ritekhed-footer-widget">
        <div class="container">
            <div class="row">
                <!-- Widget Footer About -->
                <aside class="widget col-md-4 widget_footer_about">
                    <a class="footer-logo"><img src="assets/images/logo1.png" alt=""></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elUt ac malesuada ante.Sed gravida, ur quis tempus sollicitudin, tellus urna</p>
                    <ul class="ritekhed-social-network">
                        <li><a  class="ritekhed-colorhover fab fa-facebook"></a></li>
                        <li><a class="ritekhed-colorhover fab fa-twitter-square"></a></li>
                        <li><a  class="ritekhed-colorhover fab fa-linkedin"></a></li>
                        <li><a class="ritekhed-colorhover fab fa-google-plus-square"></a></li>
                    </ul>
                    <ul class="ritekhed-info-list">
                        <li><i class="fa fa-map-marker-alt"></i> <span>9907 Salford road, east London Uk 2807</span></li>
                        <li><i class="fa fa-phone"></i> <span>(+92) 123 45 678 - 987 65 432</span></li>
                        <li><i class="far fa-envelope"></i> <span><a href="mailto:name@email.com">info@example.com</a></span></li>
                    </ul>
                </aside>
                <!-- Widget Footer About -->
                <!-- Widget Featured News -->
                <aside class="widget col-md-4 widget_featured_news">
                    <div class="footer-widget-title"> <h2>Featured News</h2> </div>
                    <ul>
                        <li>
                            <span>01</span>
                            <h6><a >Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</a></h6>
                            <time datetime="2008-02-14 20:00">December 29, 2017</time>
                        </li>
                        <li>
                            <span>02</span>
                            <h6><a >Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</a></h6>
                            <time datetime="2008-02-14 20:00">December 29, 2017</time>
                        </li>
                        <li>
                            <span>03</span>
                            <h6><a >Lorem ipsum dolor sit amet, consec tetur adipiscing elit.</a></h6>
                            <time datetime="2008-02-14 20:00">December 29, 2017</time>
                        </li>
                    </ul>
                </aside>
                <!-- Widget Featured News -->
                <!-- Widget Gallery -->
                <aside class="widget col-md-4 widget_gallery">
                    <div class="footer-widget-title"> <h2>Flicker Photos</h2> </div>
                    <ul>
                        <li><a data-fancybox-group="group" class="fancybox"><img src="assets/images/widget-gallery-1.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group" class="fancybox"><img src="assets/images/widget-gallery-2.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group" class="fancybox"><img src="assets/images/widget-gallery-3.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group"  class="fancybox"><img src="assets/images/widget-gallery-4.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group"  class="fancybox"><img src="assets/images/widget-gallery-5.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group"  class="fancybox"><img src="assets/images/widget-gallery-6.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group"  class="fancybox"><img src="assets/images/widget-gallery-7.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group" class="fancybox"><img src="assets/images/widget-gallery-8.jpg" alt=""></a></li>
                    </ul>
                </aside>
                <!-- Widget Gallery -->
            </div>
            <a  class="ritekhed-back-top"><i class="fa fa-angle-up"></i></a>
        </div>
    </div>
    <!-- Footer Widget -->

    <!-- CopyRight -->
    <div class="ritekhed-copyright">
        <div class="container">
            <div class="row">
                <aside class="col-md-6"><p>© 2018, All Right Reserved - by <a>RiteTags</a></p></aside>
                <aside class="col-md-6">
                    <ul class="ritekhed-copyright-link">
                        <li><a>Terms And Condition</a></li>
                        <li><a >Privacy Policy</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <!-- CopyRight -->

</footer>
<!-- Footer -->