<!-- <app-header></app-header> -->
<!-- Content -->
<div class="ritekhed-main-content">

    <!-- Main Section -->
    <div class="ritekhed-main-section">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <!-- Player List -->
                    <div class="ritekhed-player ritekhed-player-list">
                        <ul class="row">
                            <li class="col-md-4">
                                <figure><a [routerLink]="['/playerinfo']">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                          <div class="flip-card-front">
                                            <img src="assets/images/player-list-img1.jpg" alt="">
                                          </div>
                                          <div class="flip-card-back">
                                                <span title="EU Passport" class="fa fa-passport passportIcon"></span>
                                            <span><i class="fas fa-user-plus"></i>Follow</span><br>
                                            <span><i class='fas fa-comment-dots'></i>Message</span>
                                          </div>
                                        </div>
                                      </div>
                                    <!--<img src="assets/images/player-list-img1.jpg" alt="">-->
                                        <i title="Winger Left" class="fa fa-link">WL</i></a></figure>
                                <div [routerLink]="['/playerinfo']" class="ritekhed-player-list-text">
                                    <a href="javascript:void(0);" class="ritekhed-forword-btn">YOUNG PLAYER</a>
                                    <h5><a href="javascript:void(0);">João Gomes </a></h5>
                                    <p>Free player, Seixal FC (4. division) , Portugal</p>
                                    <h6 class="fontStyle">Portugal - 17 years / 169 cm </h6>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <figure><a href="player-info.html">
                                        <div class="flip-card">
                                                <div class="flip-card-inner">
                                                  <div class="flip-card-front">
                                                    <img src="assets/images/player-list-img2.jpg" alt="">
                                                  </div>
                                                  <div class="flip-card-back">
                                                        <span></span>
                                                    <span>Follow</span><br>
                                                    <span>Message</span>
                                                  </div>
                                                </div>
                                              </div>
                                    <i title="Midfielder Right" class="fa fa-link">MR</i></a></figure>
                                <div class="ritekhed-player-list-text">
                                    <a href="player-info.html" class="ritekhed-forword-btn">YOUTH NATIONAL TEAM
                                        PLAYER</a>
                                    <h5><a href="player-info.html">Sarena jullie</a></h5>
                                    <p>Free player, Seixal FC (4. division) , Portugal</p>
                                    <h6 class="fontStyle">Portugal - 17 years / 169 cm </h6>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <figure><a href="player-info.html">
                                        <div class="flip-card">
                                                <div class="flip-card-inner">
                                                  <div class="flip-card-front">
                                                    <img src="assets/images/player-list-img3.jpg" alt="">
                                                  </div>
                                                  <div class="flip-card-back">
                                                        <span title="EU Passport" class="fa fa-passport passportIcon"></span>
                                                        <span><i class="fas fa-user-plus"></i>Follow</span><br>
                                                        <span><i class='fas fa-comment-dots'></i>Message</span>
                                                  </div>
                                                </div>
                                              </div>
                                    <i title="Midfielder Defensive" class="fa fa-link">MD</i></a>
                                </figure>
                                <div class="ritekhed-player-list-text">
                                    <a href="player-info.html" class="ritekhed-forword-btn">"A" NATIONAL TEAM PLAYER</a>
                                    <h5><a href="player-info.html">Chris Morris</a></h5>
                                    <p>Free player, Seixal FC (4. division) , Portugal</p>
                                    <h6 class="fontStyle">Portugal - 17 years / 169 cm </h6>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <figure><a href="player-info.html">
                                        <div class="flip-card">
                                                <div class="flip-card-inner">
                                                  <div class="flip-card-front">
                                                    <img src="assets/images/player-list-img4.jpg" alt="">
                                                  </div>
                                                  <div class="flip-card-back">
                                                        <span title="EU Passport" class="fa fa-passport passportIcon"></span>
                                                        <span><i class="fas fa-user-plus"></i>Follow</span><br>
                                                        <span><i class='fas fa-comment-dots'></i>Message</span>
                                                  </div>
                                                </div>
                                              </div>
                                    <i title="Goalkeeper" class="fa fa-link">G</i></a></figure>
                                <div class="ritekhed-player-list-text">
                                    <a href="player-info.html" class="ritekhed-forword-btn">CURRENT 1. DIVISION
                                        PLAYER</a>
                                    <h5><a href="player-info.html">Sophie james</a></h5>
                                    <p>Free player, Seixal FC (4. division) , Portugal</p>
                                    <h6 class="fontStyle">Portugal - 17 years / 169 cm </h6>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <figure><a href="player-info.html">
                                        <div class="flip-card">
                                                <div class="flip-card-inner">
                                                  <div class="flip-card-front">
                                                    <img src="assets/images/player-list-img1.jpg" alt="">
                                                  </div>
                                                  <div class="flip-card-back">
                                                        <span></span>
                                                        <span><i class="fas fa-user-plus"></i>Follow</span><br>
                                                        <span><i class='fas fa-comment-dots'></i>Message</span>
                                                  </div>
                                                </div>
                                              </div>
                                    <i title="Midfielder Left" class="fa fa-link">ML</i></a></figure>
                                <div class="ritekhed-player-list-text">
                                    <a href="player-info.html" class="ritekhed-forword-btn">1. DIVISION PLAYER</a>
                                    <h5><a href="player-info.html">Brad Haddin</a></h5>
                                    <p>Free player, Seixal FC (4. division) , Portugal</p>
                                    <h6 class="fontStyle">Portugal - 17 years / 169 cm </h6>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <figure><a href="player-info.html">
                                        <div class="flip-card">
                                                <div class="flip-card-inner">
                                                  <div class="flip-card-front">
                                                    <img src="assets/images/player-list-img2.jpg" alt="">
                                                  </div>
                                                  <div class="flip-card-back">
                                                        <span></span>
                                                        <span><i class="fas fa-user-plus"></i>Follow</span><br>
                                                        <span><i class='fas fa-comment-dots'></i>Message</span>
                                                  </div>
                                                </div>
                                              </div>
                                    <i title="Defender Right" class="fa fa-link">DR</i></a></figure>
                                <div class="ritekhed-player-list-text">
                                    <a href="player-info.html" class="ritekhed-forword-btn">1. DIVISION PLAYER</a>
                                    <h5><a href="player-info.html">Darren Layfield</a></h5>
                                    <p>Free player, Seixal FC (4. division) , Portugal</p>
                                    <h6 class="fontStyle">Portugal - 17 years / 169 cm </h6>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <figure><a href="player-info.html">
                                        <div class="flip-card">
                                                <div class="flip-card-inner">
                                                  <div class="flip-card-front">
                                                    <img src="assets/images/player-list-img3.jpg" alt="">
                                                  </div>
                                                  <div class="flip-card-back">
                                                        <span title="EU Passport" class="fa fa-passport passportIcon"></span>
                                                        <span><i class="fas fa-user-plus"></i>Follow</span><br>
                                                        <span><i class='fas fa-comment-dots'></i>Message</span>
                                                  </div>
                                                </div>
                                              </div>
                                    <i title="Midfielder Center" class="fa fa-link">MC</i></a></figure>
                                <div class="ritekhed-player-list-text">
                                    <a href="player-info.html" class="ritekhed-forword-btn">1. DIVISION PLAYER </a>
                                    <h5><a href="player-info.html">Darren Layfield</a></h5>
                                    <p>Free player, Seixal FC (4. division) , Portugal</p>
                                    <h6 class="fontStyle">Portugal - 17 years / 169 cm </h6>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <figure><a href="player-info.html">
                                        <div class="flip-card">
                                                <div class="flip-card-inner">
                                                  <div class="flip-card-front">
                                                    <img src="assets/images/player-list-img4.jpg" alt="">
                                                  </div>
                                                  <div class="flip-card-back">
                                                      <span></span>
                                                      <span><i class="fas fa-user-plus"></i>Follow</span><br>
                                                      <span><i class='fas fa-comment-dots'></i>Message</span>
                                                  </div>
                                                </div>
                                              </div>
                                    <i title="Goalkeeper" class="fa fa-link">G</i></a></figure>
                                <div class="ritekhed-player-list-text">
                                    <a href="player-info.html" class="ritekhed-forword-btn">CURRENT 1. DIVISION PLAYER
                                    </a>
                                    <h5><a href="player-info.html">Darren Layfield</a></h5>
                                    <p>Free player, Seixal FC (4. division) , Portugal</p>
                                    <h6 class="fontStyle">Portugal - 17 years / 169 cm </h6>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Player List -->
                    <!-- Pagination -->
                    <div class="ritekhed-pagination">
                        <ul class="page-numbers">
                            <li><a class="previous page-numbers" href="javascript:void(0);"><span aria-label="Next"><i
                                            class="fa fa-angle-left"></i></span></a></li>
                            <li><span class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="javascript:void(0);">2</a></li>
                            <li><a class="page-numbers" href="javascript:void(0);">3</a></li>
                            <li><a class="page-numbers" href="javascript:void(0);">4</a></li>
                            <li><a class="next page-numbers" href="javascript:void(0);"><span aria-label="Next"><i
                                            class="fa fa-angle-right"></i></span></a></li>
                        </ul>
                    </div>
                    <!-- Pagination -->
                </div>

            </div>
        </div>
    </div>
    <!-- Main Section -->
    <div class="clearfix"></div>
</div>
<!-- Content -->
<div class="clearfix"></div>
<!-- <app-footer></app-footer> -->